array_of_trs = $("tr");
window.foo = array_of_trs;
$.each(array_of_trs, function(index, value){
  console.log($(value).data('epoch'));
});

var new_entry_epoch_value = <%= @entry.date.to_time.to_i %>

$.each(array_of_trs, function(index, value){
  if($(value).data('epoch') < new_entry_epoch_value){
    $(this).before("<tr> <td>Hello World</td> </tr>");
    return false;
  }
  else {

  }
})